In [11]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from config import DATABASE_URI
from models import Security
from sqlalchemy import Column, Table
from scrapping_sources.Macrotrend import Macrotrend
from scrapping_sources.Nasdaq import Nasdaq
from models import Base
import datetime
import pandas as pd
from earnings_release.earnings_release import last_period_db

In [12]:
session = sessionmaker(bind=create_engine(DATABASE_URI))

In [13]:
s = session()
Base.metadata

MetaData()

In [16]:
querry = s.query(Security.ticker, Security.id).all()
security_map = {querry[i][0]: querry[i][1] for i, v in zip(range(len(querry)), range(len(querry)))}

In [ ]:
security_map

In [33]:
s.query(Earnings_release.__table__).\
       filter(Earnings_release.id == 38).\
       update({"last_period_M": '2021-03'})
s.commit()

In [10]:
last_period_db('AAPL')

'2021-06'

In [8]:
statements = [
'income_statement',
'balance_sheet',
'cash_flow_statement',
'financial_ratios'
]
time_format = [
    'annual',
    'quarterly'
]
def has_f_data_in_db(ticker):

    data_boolean_list = []
    for stmnt in statements:
        for t_format in time_format:
            q = s.query(Base.metadata.tables[f'{stmnt}_{t_format}']).where(
                Base.metadata.tables[f'{stmnt}_{t_format}'].columns['ticker'] ==str(ticker)).all()
            print(q)
            if len(q) == 0:
                data_boolean_list.append(False)
            else:
                data_boolean_list.append(True)
    return any(data_boolean_list)

def fetch_all_statement(ticker, stmnt, time_format):

    r = s.query(Base.metadata.tables[f'{stmnt}_{time_format}']).where(\
            Base.metadata.tables[f'{stmnt}_{time_format}'].columns['ticker'] ==str(ticker)).all()
    return r

pd.DataFrame(fetch_all_statement('AAPL', 'balance_sheet', 'annual'))

,0,1,2,3,4,5,6
0,3917,2020-09-30,BS-A,AAPL,17,Receivables,37445.0
1,3918,2020-09-30,BS-A,AAPL,17,Inventory,4061.0
2,3919,2020-09-30,BS-A,AAPL,17,Pre-Paid Expenses,None
3,3920,2020-09-30,BS-A,AAPL,17,Other Current Assets,11264.0
4,3921,2020-09-30,BS-A,AAPL,17,Total Current Assets,143713.0
...,...,...,...,...,...,...,...
347,4264,2005-09-30,BS-A,AAPL,17,Retained Earnings (Accumulated Deficit),3925.0
348,4265,2005-09-30,BS-A,AAPL,17,Comprehensive Income,None
349,4266,2005-09-30,BS-A,AAPL,17,Other Share Holders Equity,None
350,4267,2005-09-30,BS-A,AAPL,17,Share Holder Equity,7428.0
351,4268,2005-09-30,BS-A,AAPL,17,Total Liabilities And Share Holders Equity,11516.0

In [88]:

M = Macrotrend()

def has_data_trend(ticker):
    _ = []

    for stmnt in statements:
        for t_format in time_format:
            r = M.arrange_data(ticker, stmnt.replace('_', '-'), t_format)
            if r is not None:
                _.append(True)
    print(_)
    return any(_)

In [104]:
N = Nasdaq()

def convert_date_N(date):
    return datetime.datetime.strptime(str(date), '%b/%Y').strftime("%Y-%m")
# def last_period_nasdaq(ticker):
data = N.earnings_release(datetime.date.today())
data['fiscalQuarterEnding'].map(convert_date_N)
# lambda x: datetime.datetime.strptime(str(x), '%b/%Y').strftime("%Y-%m")

# datetime.datetime.strptime('Jun/2021', '%b/%Y').strftime("%Y-%m")

0     2021-06
1     2021-06
2     2021-06
3     2021-06
4     2021-06
5     2021-06
6     2021-06
7     2021-06
8     2021-06
9     2021-06
10    2021-06
11    2021-06
12    2021-06
13    2021-06
14    2021-06
15    2021-06
16    2021-06
17    2021-06
18    2021-06
19    2021-06
20    2021-06
Name: fiscalQuarterEnding, dtype: object

In [23]:
querry = s.query(Security.ticker, Security.id).all()
security_id_mapper = {querry[i][0]: querry[i][1] for i, v in zip(range(len(querry)), range(len(querry)))}

In [122]:
r = s.query(Base.metadata.tables['income_statement_quarterly'].columns['date']).where(
    Base.metadata.tables['income_statement_quarterly'].columns['ticker'] == str('AAPL')
).all()
r.sort(reverse=True)
r = str(r[0][0])

def convert_to_ending_period_format( date):
    """Returns """
    result = datetime.datetime.strptime(str(date), '%Y-%m-%d').strftime("%Y-%m")
    return result

convert_to_ending_period_format(r)

'2021-06'

In [123]:
M.latest_ending_period_available('AAPL', 'balance-sheet', 'annual')

AAPL <Response [200]>

'2020-09'

In [25]:
start =time.perf_counter()
finviz_table = None

while finviz_table is None and (time.perf_counter() - start) < 20:
    print((time.perf_counter() - start))
    if (time.perf_counter() - start) >5:
        finviz_table = 1
print(finviz_table)

NameError: name 'time' is not defined

In [ ]:
engine = create_engine(DATABASE_URI)
Session = sessionmaker(bind=engine)
s = Session()

In [ ]:
q = s.query(Security.ticker).all()

In [ ]:
[i for i in range(0,75,10)]
# COMPARE WITH MYSQL OUTPUT. MAKE SURE THEY ARE THE SAME

[0, 10, 20, 30, 40, 50, 60, 70]

In [ ]:
my_list = [i for i in range(0,75)]

In [ ]:
[my_list[i:i + 10] for i in range(0, len(my_list), 10)]

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
 [70, 71, 72, 73, 74]]

In [ ]:
def chunks(lst, n):
    chunk_list = []
    for i in range(0, len(lst), n):
        chunk_list.append(lst[i:i + n])
    return chunk_list

In [ ]:
chunks(my_list, 10)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
 [70, 71, 72, 73, 74]]

In [ ]:
s.close_all()

/tmp/ipykernel_534434/1419930820.py:1: SADeprecationWarning: The Session.close_all() method is deprecated and will be removed in a future release.  Please refer to session.close_all_sessions(). (deprecated since: 1.3)
  s.close_all()

In [ ]:
r = s.query(Security.ticker).all()

In [ ]:
tickers =[i[0] for i in r][:100]

In [ ]:
scrapper = Macrotrend()
scrapper.generate_statement_table_multi_threading(tickers, "balance-sheet", "annual")

AAAU <Response [404]>
No data available for AAAU, balance-sheet, annual
AADR <Response [404]>
No data available for AADR, balance-sheet, annual
AADI <Response [200]>
AAIC <Response [200]>
AAL <Response [200]>
AA <Response [200]>
AACG <Response [200]>
AACIU <Response [404]>
No data available for AACIU, balance-sheet, annual
AAC <Response [200]>
A <Response [200]>
AAMC <Response [200]>
AAME <Response [200]>
AAN <Response [200]>
AAPL <Response [200]>
AAON <Response [200]>
AAP <Response [200]>
AAOI <Response [200]>
AAT <Response [200]>
AAQC <Response [200]>
No data available for AAQC, balance-sheet, annual
AATC <Response [200]>
AAWW <Response [200]>
AB <Response [200]>
ABB <Response [200]>
AAU <Response [200]>
AAXJ <Response [404]>
No data available for AAXJ, balance-sheet, annual
ABBV <Response [200]>
ABCB <Response [200]>
ABCL <Response [200]>
ABC <Response [200]>
ABCM <Response [200]>
ABEO <Response [200]>
ABEQ <Response [404]>
No data available for ABEQ, balance-sheet, annual
ABEV <Response [200]>
ABGI <Response [200]>
ABG <Response [200]>
ABIO <Response [200]>
ABM <Response [200]>
ABMD <Response [200]>
ABNB <Response [200]>
ABOS <Response [200]>
ABSI <Response [200]>
No data available for ABSI, balance-sheet, annual
ABST <Response [200]>
ABT <Response [200]>
ABR <Response [200]>
ABUS <Response [200]>
ABVC <Response [200]>
ABTX <Response [200]>
ACA <Response [200]>
ACAHU <Response [404]>
No data available for ACAHU, balance-sheet, annual
ACAD <Response [200]>
AC <Response [200]>
ACBAU <Response [404]>
No data available for ACBAU, balance-sheet, annual
ACB <Response [200]>
ACBI <Response [200]>
ACC <Response [200]>
ACEL <Response [200]>
ACES <Response [404]>
No data available for ACES, balance-sheet, annual
ACER <Response [200]>
ACCD <Response [200]>
ACCO <Response [200]>
ACET <Response [200]>
ACEV <Response [200]>
ACEVU <Response [404]>
No data available for ACEVU, balance-sheet, annual
ACGL <Response [200]>
ACGLN <Response [404]>
No data available for ACGLN, balance-sheet, annual
ACH <Response [200]>
ACHC <Response [200]>
ACHL <Response [200]>
ACII <Response [200]>
ACI <Response [200]>
ACIO <Response [404]>
No data available for ACIO, balance-sheet, annual
ACIC <Response [200]>
No data available for ACIC, balance-sheet, annual
ACHV <Response [200]>
ACIU <Response [200]>
ACKIT <Response [404]>
No data available for ACKIT, balance-sheet, annual
ACIW <Response [200]>
ACKIU <Response [404]>
No data available for ACKIU, balance-sheet, annual
ACLS <Response [200]>
ACN <Response [200]>
ACMR <Response [200]>
ACP <Response [404]>
No data available for ACP, balance-sheet, annual
ACQR <Response [200]>
ACNB <Response [200]>
ACM <Response [200]>
ACOR <Response [200]>
ACR <Response [200]>
ACQRU <Response [404]>
No data available for ACQRU, balance-sheet, annual
ACRO <Response [200]>
No data available for ACRO, balance-sheet, annual
ACRE <Response [200]>
ACRS <Response [200]>
ACRX <Response [200]>
ACU <Response [200]>
ACST <Response [200]>
ACTG <Response [200]>
ACTDU <Response [404]>
No data available for ACTDU, balance-sheet, annual
ACV <Response [404]>
No data available for ACV, balance-sheet, annual
ACVA <Response [200]>
ACWF <Response [404]>
No data available for ACWF, balance-sheet, annual
ACWV <Response [404]>
No data available for ACWV, balance-sheet, annual
ACWI <Response [404]>
No data available for ACWI, balance-sheet, annual

,date,statement,ticker,security_id,line_item,amount
0,2020-12-31,BS-A,AADI,None,Receivables,NaN
1,2020-12-31,BS-A,AADI,None,Inventory,NaN
2,2020-12-31,BS-A,AADI,None,Pre-Paid Expenses,0.5102
3,2020-12-31,BS-A,AADI,None,Other Current Assets,1.6039
4,2020-12-31,BS-A,AADI,None,Total Current Assets,44.7190
...,...,...,...,...,...,...
39,2019-12-31,BS-A,ACVA,None,Retained Earnings (Accumulated Deficit),-125.9580
40,2019-12-31,BS-A,ACVA,None,Comprehensive Income,-0.0010
41,2019-12-31,BS-A,ACVA,None,Other Share Holders Equity,NaN
42,2019-12-31,BS-A,ACVA,None,Share Holder Equity,205.3260
43,2019-12-31,BS-A,ACVA,None,Total Liabilities And Share Holders Equity,304.5180

In [ ]:
import time
import pandas as pd
import requests, json, re
from bs4 import BeautifulSoup as bs
import datetime
import concurrent.futures
from itertools import repeat



class Macrotrend():

    # def __init__(self): #self, ticker=None, statement=None, time_format=None, **kwargs):
    #     # super().__init__(**kwargs)
    #     # self.ticker         = ticker
    #     # self.statement      = statement
    #     # self.time_format    = time_format
    #     pass
        
    def get_statement(self, ticker, statement, time_format):

        statement_data = None

        if time_format == 'annual':

            try:

                r = requests.get('https://www.macrotrends.net/stocks/charts/' + ticker + '/' + ticker + '/' + statement)
                print(ticker, r)
                p = re.compile(r'var originalData = (.*);')
                p2 = re.compile(r'datafields:[\s\S]+(\[[\s\S]+?\]),')
                p3 = re.compile(r'\d{4}-\d{2}-\d{2}')
                data = json.loads(p.findall(r.text)[0])
                s = re.sub('\r|\n|\t|\s','',p2.findall(r.text)[0])
                fields = p3.findall(s)
                fields.insert(0, 'field_name') # only headers of interest.
                results = []

                for item in data: #loop initial list of dictionaries
                    row = {}
                    for f in fields: #loop keys of interest to extract from current dictionary
                        if f == 'field_name':  #this is an html value field so needs re-parsing
                            soup2 = bs(item[f],'lxml')
                            row[f] = soup2.select_one('a,span').text
                        else:
                            row[f] = item[f]
                    results.append(row)

                # return pd.DataFrame(results, columns = fields)
                statement_data = pd.DataFrame(results, columns = fields)

                return statement_data
        
            except:
                print(f"No data available for {ticker}, {statement}, annual")
                pass

            pass

        else:

            try:

                r = requests.get(f'https://www.macrotrends.net/stocks/charts/' + ticker + '/' + ticker + '/' + statement)
                company_name = r.url.split('/')[6]
                r = requests.get(f'https://www.macrotrends.net/stocks/charts/'+ ticker + '/' + company_name + '/' + statement + '?freq=Q')
                print(ticker, r)
                p = re.compile(r'var originalData = (.*);')
                p2 = re.compile(r'datafields:[\s\S]+(\[[\s\S]+?\]),')
                p3 = re.compile(r'\d{4}-\d{2}-\d{2}')
                data = json.loads(p.findall(r.text)[0])
                s = re.sub('\r|\n|\t|\s','',p2.findall(r.text)[0])
                fields = p3.findall(s)
                fields.insert(0, 'field_name') # only headers of interest.
                results = []

                for item in data: #loop initial list of dictionaries
                    row = {}
                    for f in fields: #loop keys of interest to extract from current dictionary
                        if f == 'field_name':  #this is an html value field so needs re-parsing
                            soup2 = bs(item[f],'lxml')
                            row[f] = soup2.select_one('a,span').text
                        else:
                            row[f] = item[f]
                    results.append(row)

                # return pd.DataFrame(results, columns = fields)
                statement_data = pd.DataFrame(results, columns = fields)
                return statement_data
    
            except:
                print(f"No data available for {ticker}, {statement}, quarterly")
                pass

    def move_column(self, df, column, pos):
    
        col = df[column]
        df.drop(columns=[column],inplace = True)
        df.insert(pos, column, col)
        
        return df
    
    def generate_statement_key(self, statement, time_format):

        report_formats  = {'quarterly'  : 'Q',
                            'annual'    : 'A'}
        statements      = {'income-statement'       :'IS',
                            'balance-sheet'         :'BS',
                            'cash-flow-statement'   :'CF',
                            'financial-ratios'      :'R'}

        statement_key = statements[statement] + '-' + report_formats[time_format]

        return statement_key

    def arrange_data(self, ticker, statement, time_format):

        data_dict = []
        # no_data_tick = []
        report_formats = {'quarterly' : 'Q',
                        'annual': 'A'}
        statements = {'income-statement':'IS',
                    'balance-sheet':'BS',
                    'cash-flow-statement':'CF',
                    'financial-ratios':'R'}


        df = self.get_statement(ticker, statement, time_format)

        if isinstance(df, pd.DataFrame):

            for i in df.columns[1:]:

                keys = df[df.columns[0]]
                data = df[i].values

                data = {k:v for k,v in zip(keys, data)}
                date = i

                data['date'] = date
                data['ticker'] = ticker
                data['statement_format'] = statements[statement] + '-' + report_formats[time_format]

                data_dict.append(data)

            df = pd.DataFrame(data_dict)
            df = self.move_column(df, 'date', 0)
            df = self.move_column(df, 'ticker', 1)
            df = self.move_column(df, 'statement_format', 2)

            my_series = []

            line_item = []
            amount = []
            date = []
            ticker = []
            security_id = []
            statement_format = []

            for i in df.iterrows():

                serie = pd.Series(i)[1]

                my_series.append(serie)
                [statement_format.append(serie[2]) for i in range(len(serie.index.values[4:]))]
                # [security_id.append(serie[3]) for i in range(len(serie.index.values[4:]))]
                [line_item.append(i) for i in  serie.index.values[4:]]
                [amount.append(i) for i in serie.values[4:]]
                [date.append(serie[0]) for i in  range(len(serie.index.values[4:]))]
                [ticker.append(serie[1]) for i in range(len(serie.index.values[4:]))]

            data = pd.DataFrame([date, statement_format, ticker, security_id,line_item, amount]).T
            data.columns = ['date','statement','ticker','security_id','line_item','amount']
            return data

        else:
            
            pass

    def generate_statement_table_multi(self, ticker_list, statement, time_format):
        start = time.perf_counter()
        table   = []
        # no_income_statement_list = []

        for i in ticker_list:
            df = self.arrange_data(i, statement, time_format)

            if isinstance(df, pd.DataFrame):
                table.append(df)
            else:
                pass
        
        table_concat = pd.concat(table)
        table_concat['amount'] =  pd.to_numeric(table_concat['amount'])
        finish = time.perf_counter()
        print(finish-start)
        return table_concat

    def generate_statement_table_multi_threading(self, ticker_list, statement, time_format):
        start = time.perf_counter()
        table = []

        def create_table(ticker, statement, time_format):

            df = self.arrange_data(ticker, statement, time_format)
            if isinstance(df, pd.DataFrame):
                table.append(df)


        with concurrent.futures.ThreadPoolExecutor(max_workers=10) as executor:

            executor.map(create_table, ticker_list, repeat(statement), repeat(time_format))

        table_concat = pd.concat(table)
        table_concat['amount'] =  pd.to_numeric(table_concat['amount'])
        finish = time.perf_counter()
        print(finish-start)
        return table_concat

    def generate_statement_table(self, ticker, statement, time_format):

        pass
        # TRY SIMPLY GOING WITH THE OLD SCRIPT BY UPLOADING IN CHUNKS
    
    def latest_ending_period_available(self, ticker, statement, time_format):

        try:
            df = self.get_statement(ticker, statement, time_format)
            raw_date = df.columns[1]
            converted_date = datetime.datetime.strptime(str(raw_date), '%Y-%m-%d').strftime("%Y-%m")
        except:
            converted_date = None

        return converted_date

scrapper = Macrotrend()

print(scrapper.latest_ending_period_available('AAPL', 'balance-sheet', 'quarterly'))

AAPL <Response [200]>
2021-06

In [ ]:
scrapper = Macrotrend()

In [ ]:
scrapper.generate_statement_table_multi_threading(tickers, "balance-sheet", "quarterly")

A <Response [200]>
AACIU <Response [404]>
No data available for AACIU, balance-sheet, quarterly
AAAU <Response [404]>
No data available for AAAU, balance-sheet, quarterly
AACG <Response [200]>
AAC <Response [200]>
AADI <Response [200]>
AAL <Response [200]>
AAIC <Response [200]>AA
AADR <Response [404]>
No data available for AADR, balance-sheet, quarterly
<Response [200]>
AAME <Response [200]>
AAMC <Response [200]>
AAOI <Response [200]>
AAN <Response [200]>
AAPL <Response [200]>
AAON <Response [200]>
AAP <Response [200]>
AATC <Response [200]>
AAU <Response [200]>
AAQC <Response [200]>
AAWW <Response [200]>
AAT <Response [200]>
AAXJ <Response [404]>
No data available for AAXJ, balance-sheet, quarterly
AB <Response [200]>
ABBV <Response [200]>
ABB <Response [200]>
ABC <Response [200]>
ABCB <Response [200]>
ABCL <Response [200]>
ABEQ <Response [404]>
No data available for ABEQ, balance-sheet, quarterly
ABCM <Response [200]>
ABEO <Response [200]>
ABEV <Response [200]>
ABGI <Response [200]>
ABG <Response [200]>
ABIO <Response [200]>
ABNB <Response [200]>
ABR <Response [200]>
ABMD ABOS<Response [200]>
 <Response [200]>
No data available for ABOS, balance-sheet, quarterly
ABSI <Response [200]>
No data available for ABSI, balance-sheet, quarterly
ABST <Response [200]>
ABM <Response [200]>
ABT <Response [200]>
ABUS <Response [200]>
ABTX <Response [200]>
AC <Response [200]>
ABVC <Response [200]>
ACA <Response [200]>
ACAD <Response [200]>
ACAHU <Response [404]>
No data available for ACAHU, balance-sheet, quarterly
ACB <Response [200]>
ACBAU <Response [404]>
No data available for ACBAU, balance-sheet, quarterly
ACBI <Response [200]>
ACCD <Response [200]>
ACCO <Response [200]>
ACC <Response [200]>
ACER <Response [200]>
ACEL <Response [200]>ACES <Response [404]>
No data available for ACES, balance-sheet, quarterly

ACEVU <Response [404]>
No data available for ACEVU, balance-sheet, quarterly
ACET <Response [200]>
ACEV <Response [200]>
ACGL <Response [200]>
ACGLN <Response [404]>
No data available for ACGLN, balance-sheet, quarterly
ACHC <Response [200]>
ACH <Response [200]>
ACHL <Response [200]>
ACHV <Response [200]>
ACIC <Response [200]>
No data available for ACIC, balance-sheet, quarterly
ACII <Response [200]>
ACI <Response [200]>
ACIO <Response [404]>
No data available for ACIO, balance-sheet, quarterly
ACIU <Response [200]>
ACIW <Response [200]>
ACKIT <Response [404]>
No data available for ACKIT, balance-sheet, quarterly
ACM <Response [200]>
ACMR <Response [200]>
ACKIU <Response [404]>
No data available for ACKIU, balance-sheet, quarterly
ACLS <Response [200]>
ACN <Response [200]>
ACP <Response [404]>
No data available for ACP, balance-sheet, quarterly
ACOR <Response [200]>
ACQR <Response [200]>
ACNB <Response [200]>
ACQRU <Response [404]>
No data available for ACQRU, balance-sheet, quarterly
ACRE <Response [200]>
ACR <Response [200]>
ACRO <Response [200]>
ACRS <Response [200]>
ACTDU <Response [404]>
No data available for ACTDU, balance-sheet, quarterly
ACST <Response [200]>
ACTG <Response [200]>
ACU <Response [200]>
ACRX <Response [200]>
ACV <Response [404]>
No data available for ACV, balance-sheet, quarterly
ACWF <Response [404]>
No data available for ACWF, balance-sheet, quarterly
ACWI <Response [404]>
No data available for ACWI, balance-sheet, quarterly
ACWV <Response [404]>
No data available for ACWV, balance-sheet, quarterly
ACVA <Response [200]>
7.033056826010579

,date,statement,ticker,security_id,line_item,amount
0,2021-07-31,BS-Q,A,None,Receivables,1122.000
1,2021-07-31,BS-Q,A,None,Inventory,818.000
2,2021-07-31,BS-Q,A,None,Pre-Paid Expenses,NaN
3,2021-07-31,BS-Q,A,None,Other Current Assets,264.000
4,2021-07-31,BS-Q,A,None,Total Current Assets,3632.000
...,...,...,...,...,...,...
127,2019-12-31,BS-Q,ACVA,None,Retained Earnings (Accumulated Deficit),-125.958
128,2019-12-31,BS-Q,ACVA,None,Comprehensive Income,NaN
129,2019-12-31,BS-Q,ACVA,None,Other Share Holders Equity,-0.001
130,2019-12-31,BS-Q,ACVA,None,Share Holder Equity,205.326
131,2019-12-31,BS-Q,ACVA,None,Total Liabilities And Share Holders Equity,304.518

In [ ]:
table = []

def create_table(ticker, statement, time_format):

    df = scrapper.arrange_data(ticker, statement, time_format)
    if isinstance(df, pd.DataFrame):
        table.append(df)


with concurrent.futures.ThreadPoolExecutor(max_workers=10) as executor:

    executor.map(create_table, tickers, repeat('balance-sheet'), repeat("annual"))

# table
table_concat = pd.concat(table)
table_concat['amount'] =  pd.to_numeric(table_concat['amount'])

AAIC <Response [200]>
AAC <Response [200]>
AAAU <Response [404]>
No data available for AAAU, balance-sheet, annual
AADI <Response [200]>
AAL <Response [200]>
AADR <Response [404]>
No data available for AADR, balance-sheet, annual
A <Response [200]>
AA <Response [200]>
AACIU <Response [404]>
No data available for AACIU, balance-sheet, annual
AACG <Response [200]>
AAMC <Response [200]>
AAME <Response [200]>
AAN <Response [200]>
AAP <Response [200]>
AAOI <Response [200]>
AAON <Response [200]>
AAQCAAXJ <Response [404]>
No data available for AAXJ, balance-sheet, annual
 AAT <Response [200]>
AAU <Response [200]>
AAWW <Response [200]>
AATC <Response [200]>
AAPL <Response [200]><Response [200]>
No data available for AAQC, balance-sheet, annual

ABC <Response [200]>
ABB <Response [200]>
AB <Response [200]>
ABBV <Response [200]>
ABCBABEQ <Response [200]>
 <Response [404]>
No data available for ABEQ, balance-sheet, annual
ABCL <Response [200]>
ABEO <Response [200]>
ABCM <Response [200]>
ABEV <Response [200]>
ABG <Response [200]>
ABGI <Response [200]>
ABIO <Response [200]>
ABM <Response [200]>
ABMD <Response [200]>
ABNB <Response [200]>
ABOS <Response [200]>
ABSIABR <Response [200]>
 <Response [200]>
No data available for ABSI, balance-sheet, annual
ABT <Response [200]>
ABST <Response [200]>
ABTX <Response [200]>
ACA <Response [200]>
ABUS ABVC <Response [200]>
<Response [200]>
AC <Response [200]>
ACAHU <Response [404]>
No data available for ACAHU, balance-sheet, annual
ACAD <Response [200]>
ACBAU <Response [404]>
No data available for ACBAU, balance-sheet, annual
ACB <Response [200]>
ACCD <Response [200]>
ACER <Response [200]>
ACBI <Response [200]>
ACC <Response [200]>
ACELACES <Response [404]>
No data available for ACES, balance-sheet, annual
 <Response [200]>
ACCO ACEV <Response [200]>
<Response [200]>
ACET <Response [200]>
ACEVU <Response [404]>
No data available for ACEVU, balance-sheet, annual
ACGLN <Response [404]>
No data available for ACGLN, balance-sheet, annual
ACGL ACH<Response [200]>
 <Response [200]>
ACHC <Response [200]>
ACHL <Response [200]>
ACIO <Response [404]>
No data available for ACIO, balance-sheet, annual
ACIC ACHV<Response [200]>
No data available for ACIC, balance-sheet, annual
ACI <Response [200]>
 <Response [200]>
ACII <Response [200]>
ACIU <Response [200]>
ACKIT <Response [404]>
No data available for ACKIT, balance-sheet, annual
ACKIU <Response [404]>
No data available for ACKIU, balance-sheet, annual
ACLS <Response [200]>
ACIW <Response [200]>
ACM <Response [200]>
ACPACMR <Response [200]>
 <Response [404]>
No data available for ACP, balance-sheet, annual
ACN <Response [200]>
ACNB <Response [200]>
ACQRU <Response [404]>
No data available for ACQRU, balance-sheet, annual
ACQR <Response [200]>
ACOR <Response [200]>
ACRE <Response [200]>
ACRACRO <Response [200]> <Response [200]>

No data available for ACRO, balance-sheet, annual
ACRS <Response [200]>
ACRX <Response [200]>
ACST <Response [200]>
ACTDU <Response [404]>
No data available for ACTDU, balance-sheet, annual
ACTG <Response [200]>
ACV <Response [404]>
No data available for ACV, balance-sheet, annual
ACU <Response [200]>
ACWF <Response [404]>
No data available for ACWF, balance-sheet, annual
ACVA <Response [200]>
ACWV <Response [404]>
No data available for ACWV, balance-sheet, annual
ACWI <Response [404]>
No data available for ACWI, balance-sheet, annual

In [ ]:
table_concat

,date,statement,ticker,security_id,line_item,amount
0,2020-12-31,BS-A,AAMC,None,Receivables,3.414
1,2020-12-31,BS-A,AAMC,None,Inventory,NaN
2,2020-12-31,BS-A,AAMC,None,Pre-Paid Expenses,3.328
3,2020-12-31,BS-A,AAMC,None,Other Current Assets,48.249
4,2020-12-31,BS-A,AAMC,None,Total Current Assets,96.614
...,...,...,...,...,...,...
39,2019-12-31,BS-A,ACVA,None,Retained Earnings (Accumulated Deficit),-125.958
40,2019-12-31,BS-A,ACVA,None,Comprehensive Income,-0.001
41,2019-12-31,BS-A,ACVA,None,Other Share Holders Equity,NaN
42,2019-12-31,BS-A,ACVA,None,Share Holder Equity,205.326
43,2019-12-31,BS-A,ACVA,None,Total Liabilities And Share Holders Equity,304.518

In [ ]:
scrapper.get_statement('AAPL', 'balance-sheet', 'annual')

AAPL <Response [200]>

,field_name,2020-09-30,2019-09-30,2018-09-30,2017-09-30,2016-09-30,2015-09-30,2014-09-30,2013-09-30,2012-09-30,2011-09-30,2010-09-30,2009-09-30,2008-09-30,2007-09-30,2006-09-30,2005-09-30
0,Cash On Hand,90943.00000,100557.00000,66301.00000,74181.00000,67155.00000,41601.00000,25077.00000,40546.00000,29129.00000,25952.00000,25620.00000,23464.00000,22111.00000,15386.00000,10110.00000,8261.00000
1,Receivables,37445.00000,45804.00000,48995.00000,35673.00000,29299.00000,30343.00000,27219.00000,20641.00000,18692.00000,11717.00000,9924.00000,5057.00000,2422.00000,1637.00000,1252.00000,895.00000
2,Inventory,4061.00000,4106.00000,3956.00000,4855.00000,2132.00000,2349.00000,2111.00000,1764.00000,791.00000,776.00000,1051.00000,455.00000,509.00000,346.00000,270.00000,165.00000
3,Pre-Paid Expenses,,,,,,,,,,,,,,,,
4,Other Current Assets,11264.00000,12352.00000,12087.00000,13936.00000,8283.00000,15085.00000,9806.00000,6882.00000,6458.00000,4529.00000,3447.00000,1444.00000,3920.00000,3805.00000,2270.00000,648.00000
5,Total Current Assets,143713.00000,162819.00000,131339.00000,128645.00000,106869.00000,89378.00000,68531.00000,73286.00000,57653.00000,44988.00000,41678.00000,31555.00000,30006.00000,21956.00000,14509.00000,10300.00000
6,"Property, Plant, And Equipment",36766.00000,37378.00000,41304.00000,33783.00000,27010.00000,22471.00000,20624.00000,16597.00000,15452.00000,7777.00000,4768.00000,2954.00000,2455.00000,1832.00000,1281.00000,817.00000
7,Long-Term Investments,100887.00000,105341.00000,170799.00000,194714.00000,170430.00000,164065.00000,130162.00000,106215.00000,92122.00000,55618.00000,25391.00000,10528.00000,2379.00000,,,
8,Goodwill And Intangible Assets,,,,,8620.00000,9009.00000,8758.00000,5756.00000,5359.00000,4432.00000,1083.00000,453.00000,492.00000,337.00000,177.00000,96.00000
9,Other Long-Term Assets,42522.00000,32978.00000,22283.00000,18177.00000,8757.00000,5422.00000,3764.00000,5146.00000,5478.00000,3556.00000,2263.00000,2011.00000,839.00000,1222.00000,1238.00000,303.00000
10,Total Long-Term Assets,180175.00000,175697.00000,234386.00000,246674.00000,214817.00000,200967.00000,163308.00000,133714.00000,118411.00000,71383.00000,33505.00000,15946.00000,6165.00000,3391.00000,2696.00000,1216.00000
11,Total Assets,323888.00000,338516.00000,365725.00000,375319.00000,321686.00000,290345.00000,231839.00000,207000.00000,176064.00000,116371.00000,75183.00000,47501.00000,36171.00000,25347.00000,17205.00000,11516.00000
12,Total Current Liabilities,105392.00000,105718.00000,115929.00000,100814.00000,79006.00000,80610.00000,63448.00000,43658.00000,38542.00000,27970.00000,20722.00000,11506.00000,11361.00000,9280.00000,6443.00000,3487.00000
13,Long Term Debt,98667.00000,91807.00000,93735.00000,97207.00000,75427.00000,53329.00000,28987.00000,16960.00000,,,,,,,,
14,Other Non-Current Liabilities,54490.00000,50503.00000,48914.00000,40415.00000,36074.00000,33427.00000,24826.00000,20208.00000,16664.00000,10100.00000,5531.00000,3502.00000,1745.00000,1535.00000,778.00000,601.00000
15,Total Long Term Liabilities,153157.00000,142310.00000,142649.00000,140458.00000,114431.00000,90380.00000,56844.00000,39793.00000,19312.00000,11786.00000,6670.00000,4355.00000,2513.00000,1535.00000,778.00000,601.00000
16,Total Liabilities,258549.00000,248028.00000,258578.00000,241272.00000,193437.00000,170990.00000,120292.00000,83451.00000,57854.00000,39756.00000,27392.00000,15861.00000,13874.00000,10815.00000,7221.00000,4088.00000
17,Common Stock Net,50779.00000,45174.00000,40201.00000,35867.00000,31251.00000,27416.00000,23313.00000,19764.00000,16422.00000,13331.00000,10668.00000,8210.00000,7177.00000,5368.00000,4355.00000,3564.00000
18,Retained Earnings (Accumulated Deficit),14966.00000,45898.00000,70400.00000,98330.00000,96364.00000,92284.00000,87152.00000,104256.00000,101289.00000,62841.00000,37169.00000,23353.00000,15129.00000,9101.00000,5607.00000,3925.00000
19,Comprehensive Income,-406.00000,-584.00000,-3454.00000,-150.00000,634.00000,-345.00000,1082.00000,-471.00000,499.00000,443.00000,-46.00000,77.00000,-9.00000,63.00000,22.00000,
20,Other Share Holders Equity,,,,,,,,,,,,,,,,
21,Share Holder Equity,65339.00000,90488.00000,107147.00000,134047.00000,128249.00000,119355.00000,111547.00000,123549.00000,118210.00000,76615.00000,47791.00000,31640.00000,22297.00000,14532.00000,9984.00000,7428.00000
22,Total Liabilities And Share Holders Equity,323888.00000,338516.00000,365725.00000,375319.00000,321686.00000,290345.00000,231839.00000,207000.00000,176064.00000,116371.00000,75183.00000,47501.00000,36171.00000,25347.00000,17205.00000,11516.00000

In [ ]:
s.query(Security.ticker).filter_by(ticker="jlkkj").first()[0]

TypeError: 'NoneType' object is not subscriptable

In [ ]:
from models import Base

In [ ]:
s.query(Base.metadata.tables['income_statement_annual'].columns.ticker).filter_by(ticker='A').all()

[('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',),
 ('A',)]

In [ ]:
s.close_all()

/tmp/ipykernel_68765/1419930820.py:1: SADeprecationWarning: The Session.close_all() method is deprecated and will be removed in a future release.  Please refer to session.close_all_sessions(). (deprecated since: 1.3)
  s.close_all()

In [ ]:
A = ('a','b','c')
B = ('a','b','c')
C = ('d','e','f')
D = ('g','h','i')

In [ ]:
my_list = [A,B,C]

In [ ]:
set_1 = set(my_list)
set_2 = set([C,D])

In [ ]:
len(set_1-set_2)

1